{% extends "base.html" %}
{% block content %}

    <h3 class="#00acc1 cyan darken-1 center-align">Add Event</h3>

    <div class="row card-panel grey lighten-5">
        <form class="col s12" method="POST" action="{{ url_for('add_registration') }}">
            <!-- event selection -->
			<div class="row">
				<div class="input-field col s12">
                    <i class="fas fa-folder-open prefix #00acc1 cyan darken-1"></i>
					<select id="event_name" name="event_name" class="validate" required>
                        <option value="" disabled selected>Choose Event</option>
                        {% for event in events %}
                            <option value="{{ event.event_name }}">{{ event.event_name }}</option>
                        {% endfor %}
                    </select>
					<label for="event_name">Event</label>
				</div>
			</div>
            <!-- registration name -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-pencil-alt prefix #00acc1 cyan darken-1"></i>
                    <input id="registration_name" name="registration_name" minlength="2" maxlength="20"
                        type="text" class="validate" required>
                    <label for="registration_name">Registration Name</label>
                </div>
            </div>
            <!-- registration email -->
            <div class = "row">  
               <div class = "input-field col s12">
                  <i class="fas fa-align-left prefix light-blue-text text-darken-4"></i>
                  <input id="Email" name="email" type="email" class = "validate" minlength="5" maxlength="40" required>
                  <label for="email">Email</label>
               </div>  
            </div> 
            <!-- registration gender -->
            <p>
            <label>
            <input name="gender" type="radio" value="male" checked/>
            <span>Male</span>
            </label>
            <label>
            <input name="gender" type="radio" value="female"/>
            <span>Female</span>
            </label>
            </p>
            <!-- registration birthday -->
            <div class = "row">
            <div class="input-field col s3">
                    <i class="fas fa-align-left prefix light-blue-text text-darken-4"></i>                         
            <input name="birthday" type = "date" class = "datepicker" />    
            <label for="bdate">Birthday</label>
            </div>                
            <!-- registration comment -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-align-left prefix light-blue-text text-darken-4"></i>
                    <textarea id="registration_comment" name="registration_comment" minlength="0"
                        maxlength="150" class="materialize-textarea validate"></textarea>
                    <label for="registration_comment">Registration Comment</label>
                </div>
            </div>
            <!-- submit button -->
          <div class="row">
                <div class="col s12 center-align">
                    <button type="submit" class="btn-large light-blue darken-1 text-shadow">
                        Add Task <i class="fas fa-plus-square right"></i>
                    </button>
                </div>
            </div>
        </form>
    </div>

{% endblock %}