{% extends "base.html" %}
{% block content %}

    <h3 class="#00897b teal darken-1 center-align">Edit registration</h3>

    <div class="row card-panel #efebe9 brown lighten-5">
        <form class="col s12" method="POST" action="{{ url_for('edit_registration', registration_id=registration._id) }}">
            <!-- event selection -->
			<div class="row">
				<div class="input-field col s12">
                    <i class="fas fa-plus-circle prefix cyan-text"></i>
					<select id="event_name" name="event_name" class="validate" required>
                        <option value="" disabled>Choose Event</option>
                        {% for event in events %}
                            {% if event.event_name == registration.event_name %}
                                <option value="{{ event.event_name }}" selected>{{ event.event_name }}</option>
                            {% else %}
                                <option value="{{ event.event_name }}">{{ event.event_name }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
					<label for="event_name">Registration Event</label>
				</div>
			</div>
            <!-- registration name -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-pencil-alt prefix cyan-text"></i>
                    <input id="registration_name" name="registration_name" minlength="2" maxlength="20"
                        value="{{ registration.registration_name }}" type="text" class="validate" required>
                    <label for="registration_name">Registration Name</label>
                </div>
            </div>
            <!-- registration email -->
            <div class = "row">  
               <div class = "input-field col s12">
                  <i class="fas fa-at prefix cyan-text"></i>
                  <input id="Email" name="email" minlength="5" maxlength="40"
                    value="{{ registration.email }}" type="email" class="validate" required>
                  <label for = "email">Email</label>  
               </div>  
            </div>  
            <!-- registration gender -->
            <p>
            <label>
            <input name="gender" type="radio" value="male"/>
            <span>Male</span>
            </label>
            <label>
            <input name="gender" type="radio" value="female"/>
            <span>Female</span>
            </label>
            </p>
            <!-- registration birthday -->
            <div class = "row">
            <div class="input-field col s3">
                    <i class="fas fa-birthday-cake prefix cyan-text"></i>                         
            <input name="birthday" value="{{ registration.birthday }}" type="date" class = "datepicker" />    
            <label for="bdate">Birthday</label>
            </div>
            </div>
            <!-- registration comment -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="far fa-comment prefix cyan-text"></i>
                    <textarea id="registration_comment" name="registration_comment" minlength="5"
                        maxlength="200" class="materialize-textarea validate" required>
                        {{- registration.registration_comment -}}
                    </textarea>
                    <label for="registration_comment">Registration Comment</label>
                </div>
            </div>
            <!-- submit button -->
            <div class="row">
                <div class="col s12 center-align">
                    <!-- cancel button -->
                    <a href="{{ url_for('get_registrations') }}" class="btn-large red text-shadow">
                        Cancel <i class="fas fa-times-circle right"></i>
                    </a>
                    <button type="submit" class="btn-large #00acc1 cyan darken-1 text-shadow">
                        Edit Registration <i class="fas fa-edit right"></i>
                    </button>
                </div>
            </div>
        </form>
    </div>

{% endblock %}
