{% extends "base.html" %}
{% block content %}

    <h3 class="light-blue darken-4 accent-1 center-align">Edit registration</h3>

   <div class="row card-panel grey lighten-5">
        <form class="col s12" method="POST" action="{{ url_for('edit_registration', registration_id=registration._id) }}">
            <!-- event selection -->
			<div class="row">
				<div class="input-field col s12">
                    <i class="fas fa-folder-open prefix light-blue-text text-darken-4"></i>
					<select id="event_name" name="event_name" class="validate" required>
                        <option value="" disabled>Choose Event</option>
                        {% for event in events %}
                            {% if event.events_name == registration.event_name %}
                                <option value="{{ event.event_name }}" selected>{{ event.event_name }}</option>
                            {% else %}
                                <option value="{{ event.event_name }}">{{ event.event_name }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
					<label for="event_name">Registration Event</label>
				</div>
			</div>
            <!-- registration name -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-pencil-alt prefix light-blue-text text-darken-4"></i>
                    <input id="registration_name" name="registration_name" minlength="2" maxlength="20"
                        value="{{ registration.registration_name }}" type="text" class="validate" required>
                    <label for="registration_name">Registration Name</label>
                </div>
            </div>
            <!-- registration email -->
            <div class = "row">  
               <div class = "input-field col s12">
                  <i class="fas fa-align-left prefix light-blue-text text-darken-4"></i>
                  <input id="Email" name="email" minlength="5" maxlength="40"
                    value="{{ registration.email }}" type="email" class="validate" required>
                  <label for = "email">Email</label>  
               </div>  
            </div>  
            <!-- registration comment -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-align-left prefix light-blue-text text-darken-4"></i>
                    <textarea id="registration_comment" name="registration_comment" minlength="5"
                        maxlength="200" class="materialize-textarea validate" required>
                        {{- registration.registration_comment -}}
                    </textarea>
                    <label for="registration_comment">Registration Comment</label>
                </div>
            </div>
            <!-- submit button -->
            <div class="row">
                <div class="col s12 center-align">
                    <!-- cancel button -->
                    <a href="{{ url_for('get_registrations') }}" class="btn-large red text-shadow">
                        Cancel <i class="fas fa-times-circle right"></i>
                    </a>
                    <button type="submit" class="btn-large light-blue darken-1 text-shadow">
                        Edit Registration <i class="fas fa-edit right"></i>
                    </button>
                </div>
            </div>
        </form>
    </div>

{% endblock %}
