{% extends "base.html" %}
{% block content %}

    <h3 class="cyan white-text center-align text-shadow">Manage Events</h3>

    <div class="row">
        <div class="col s12 center-align">
            <a href="{{ url_for('add_event') }}" class="btn-large light-blue darken-2 text-shadow">
                Add Event <i class="fas fa-plus-square right"></i>
            </a>
        </div>
    </div>

    <div class="row">
        {% for event in events %}
            <div class="col s12 m3">
                <div class="card light-blue darken-4 text-shadow center-align">
                    <div class="card-content white-text">
                        <span class="card-title">{{ event.event_name }}</span>
                    </div>
                    <div class="card-action">
                        <a href="{{ url_for('edit_event', event_id=event._id) }}" class="btn green accent-4">Edit</a>
                        <a href="{{ url_for('delete_event', event_id=event._id) }}" class="btn light-blue lighten-1">Delete</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock %}