{% extends "base.html" %}
{% block content %}

    <div class="row">
        <div class="col s12 m8 offset-m2">
            <div class="card-panel" style="background-image : url('https://cdn.pixabay.com/photo/2019/03/18/17/58/wave-4063684_960_720.jpg');background-size: cover;background-position: center;">
                <h3 class="center-align #00897b teal darken-1 white-text text-shadow">
                    {{ username }}'s Profile
                </h3>
                <div class="card-panel" style="background-image : url('https://cdn.pixabay.com/photo/2017/04/08/03/41/windsurfing-2212364__340.jpg');background-size: cover;background-position: center;height:300px">
                </div>
            </div>
        </div>
    </div>

{% endblock %}