{% extends "base.html" %}
{% block content %}

    <h3 class="#d7ccc8 brown lighten-4 accent-1 white-text text-shadow center-align">All Event Registrations</h3>

    <ul class="collapsible">
        {% for registration in registrations %}
        <li>
            <div class="collapsible-header white-text #00897b teal darken-1 text-shadow">
                <div class="col s12">
                    <i class="fas fa-caret-down"></i>
                    <strong>{{ registration.event_name }}</strong>
                    <strong>{{ registration.registration_name }}</strong>
                    {% if session.user|lower == registration.created_by|lower %}
                        <a href="{{ url_for('edit_registration', registration_id=registration._id) }}" class="btn-small green accent-4">Edit</a>
                    {% endif %}
                </div>
            </div>
            <div class="collapsible-body #d7ccc8 brown lighten-4">
                <p><label>Email&nbsp</label>{{ registration.email }}</p>
                <p><label>Gender&nbsp</label>{{ registration.gender }}</p>
                <p><label>Birthday&nbsp</label>{{ registration.birthday }}</p>
                <p><label>Comment&nbsp</label>{{ registration.registration_comment }}</p>
                <p><label>Username&nbsp</label>{{ registration.created_by }}</p>
                    {% if session.user|lower == registration.created_by|lower %}
                        <a href="{{ url_for('delete_registration', registration_id=registration._id) }}" class="btn-small red">Cancel Event</a>
                    {% endif %}
            </div>
        </li>
        {% endfor %}
    </ul>

{% endblock %}